:root {
	--bg: #12141a;
	--fg: #1d2028;
	--border: #2d313c;
	--hover: #71788b;
	--link: #be272b;
}


body
{
	display: flex;
	flex-direction: column;
	justify-content:center;
	padding: 10px;
	margin: 0;
	background-color: var(--bg);
	color: whitesmoke;

	font-family: "futura-pt", "Helvetica", "Sans serif";
	font-size: large;

}

.main
{
	display: flex;
	flex-direction: row;
	justify-content:center;
	width: 100vw;
	padding: 0;
	margin: 0;
}

a
{
	color: var(--link);
}
a:hover
{
	color: var(--hover);
}

button
{
	font-size: large;

	background-color: var(--fg);
	color: var(--link);
	padding: 3px;
	border: solid var(--link) 1px;
}

button:hover
{
	color: var(--hover);
	border: solid var(--hover) 1px;
}

section
{
	width: 40%;
	margin: 10px;
	display: flex;
	flex-direction: column;
	padding: 30px;

	border: solid var(--border) 2px;
	background-color: var(--fg);
	height: 70vh;

	gap: 50px;
	height: auto;

}

.directory
{
	display: flex;
	flex-direction: column;
}

.user_info
{
	display: flex;
	width: 100%;
	flex-direction: column;
}

.user_info > .infos
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.file_tree
{
	width: 90%;
}